.dot {
  width: 20px;
  height: 20px;
  background: rgb(214, 212, 218);
  /* border-radius: 7px; */
}
.line {
  /* height: 90px; */
  width: 2px;
  min-height: 100%;
  background: #d1d6e6;
  margin-left: 9px;
}
